.main-content {
    width: 100%;
    max-width: 80%;
    padding: 32px;
    background: #fff;
    display: flex   ;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    text-align: center;
}

.main-content h3 {
    display:flex;
    flex-direction: column;
    
    font-size: 2rem;
    color: #222;
}

.main-content p {
    margin-bottom: 12px;
    font-size: 1.1rem;
    color: #444;
}