{% extends 'layout.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="main-content">
    <h3>Página de inicio</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec elit a velit mollis euismod eu vitae magna. Quisque sit amet dignissim sapien. Pellentesque sollicitudin dapibus felis at posuere. Suspendisse fermentum mi et porttitor efficitur. Proin in ullamcorper dolor, eget tincidunt mauris. Nulla vestibulum enim at magna porta, id placerat justo gravida. Fusce elementum nisl et faucibus tempor. Nulla sagittis massa a turpis euismod, id rutrum sem egestas. Ut ornare lectus sit amet lorem vehicula condimentum. Aenean nisi diam, tempor non lacinia a, hendrerit et diam. Ut condimentum nisi purus, nec scelerisque ante elementum sagittis. Ut pharetra sit amet libero eu dapibus. Maecenas gravida sed ex quis condimentum. Suspendisse non ante ac lacus vestibulum ullamcorper.

Fusce dapibus nisl mi, id ornare leo suscipit non. Fusce efficitur sed augue vitae facilisis. Nulla ornare elementum nisl quis auctor. Cras semper arcu diam. Quisque sodales libero ullamcorper erat sagittis, sed convallis neque tempor. Suspendisse vestibulum, dolor sed consequat consectetur, diam dolor dictum odio, id tincidunt neque augue vitae sem. Sed tincidunt, odio vitae posuere posuere, orci urna dapibus elit, auctor lobortis ligula elit vehicula felis. Suspendisse sem ipsum, malesuada a imperdiet non, ullamcorper non quam. Nullam eleifend metus lorem, ac ultricies velit hendrerit tempor. Sed quis risus sed diam tristique fringilla sed quis dui. Praesent rhoncus lacus leo, ut pharetra ipsum ornare finibus. Proin mi lectus, pellentesque at lacus in, sodales accumsan erat. Curabitur quam ex, commodo sollicitudin aliquet non, blandit vel lectus.</p>
    <p>¡Bienvenido a mi proyecto Flask!</p>
    <p>página en construcción </p>
</div>
{% endblock %}
