<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topBar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <linl rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
<body>
  {% include 'topBar.html' %}
  <div class="layout-container">
  {% include 'sidebar.html' %}
  
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
  </div>
    {% include 'footer.html' %}
</body>
</html>