body {
  background-color: #4B7399;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
