# API Configuration
VITE_API_BASE_URL=https://admin-grupo44.proyecto2025.linti.unlp.edu.ar/api

# MinIO Configuration
VITE_MINIO_ENDPOINT=https://minio.proyecto2025.linti.unlp.edu.ar
VITE_MINIO_BUCKET=grupo44
VITE_MINIO_ACCESS_KEY=hajqpfzuadiMb4aIqDPz
VITE_MINIO_SECRET_KEY=YoTbnJTYnaVXovWm93GJpYLj9LsPs3tMluHzJe57
